/* Resetando margens e padding para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Estilo para o header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilo para o main */
main {
    padding: 20px;
}

/* Estilo para o footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
